!!! 5
%html
  %head
    %title= "Title"
    %meta{ :charset => "utf-8" }
    %link{ :rel => "stylesheet", :href => "css/main.css" }
  %body
    %article
      %h1= "Haml example"
      %p
        Haml (HTML abstraction markup language) is based on one primary principle: markup should be beautiful. It’s not just beauty for beauty’s sake either; Haml accelerates and simplifies template creation down to veritable haiku.
    %script{ :src => "js/main.js" }


-# 2. Tests ----------------------

-# line comment
-# multi-line
  comment
/ html comment
